@charset "UTF-8";
:root {
  /* fonts */
  --main-fonts: "Roboto", sans-serif;
  --secondary-font: "Raleway";
  /* text-color */
  --accent-color: #757575;
  --brand-color: #2196F3;
  --header-color: #212121;
  --background-color: #2F303A;
  --text-background: #FFFFFF;
  /* bg-color */
  /* others */
  /* animation */
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
  /* or */
  font-style: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: var(--main-fonts);
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
  letter-spacing: normal;
}

.section {
  padding: 94px, 0;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--header-color);
  margin-bottom: 50px;
  margin-top: 94px;
}

.section--no-padding-top {
  padding-top: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding: 24px 0 25px;
  color: var(--brand-color);
}

.header__logo {
  margin-right: 93px;
}

.logo__dark {
  color: var(--header-color);
}

.logo__light {
  color: var(--text-background);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.site-nav__link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--header-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--brand-color);
}

.current {
  color: var(--brand-color);
}
.current::after {
  content: "";
  background-color: var(--brand-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--brand-color);
}

.contacts__icon {
  margin-right: 10px;
}

.header {
  border-bottom: 1px solid #E5E5E5;
}

.container--footer {
  margin-right: 170p;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  background-color: var(--background-color);
  padding: 60px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact__item:not(:last-child) {
  margin-bottom: 9px;
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}

.contact__text {
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
  margin-top: 20px;
  color: var(--text-background);
}

.contact__text:hover {
  color: var(--brand-color);
}

.contact__link {
  text-decoration: none;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}

.contact .contact__link:hover,
.contact .contact__link:focus {
  color: var(--brand-color);
}

.paragraf {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-background);
}

.network {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.network__item {
  margin-right: 10px;
}

.network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--timing-function);
  transition: background-color var(--timing-function);
}
.network__link:hover, .network__link:focus {
  background-color: var(--brand-color);
}

.network__svg {
  fill: var(--text-background);
}

/* ------------------------------------form-footer ------------------------------------------*/
.form-footer {
  margin-left: 93px;
}

.form-footer__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--text-background);
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.form-input__email {
  background-color: #2F303A;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  width: 358px;
  height: 50px;
  padding: 16px;
}
.form-input__email::-webkit-input-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-input__email::-moz-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-input__email:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-input__email::-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-input__email::placeholder {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-background);
  background-color: var(--brand-color);
  cursor: pointer;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  margin-left: 10px;
}

.form-btn__svg {
  fill: var(--text-background);
  margin-left: 10px;
}

/*-------------------------------------------------- backdrop-------------------------------------------- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 750ms linear, visibility 750ms linear;
  transition: opacity 750ms linear, visibility 750ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*------------------------------------------------ MODAL--------------------------------------------------------------------------- */
.modal-window {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-window__modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #FFFFFF;
}
.modal-window__modal-close:focus, .modal-window__modal-close:hover {
  fill: var(--brand-color);
}

.modal-window__modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form:nth-child(-n+3) {
  margin-bottom: 10px;
}

.modal-form:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form:nth-child(5) {
  margin-bottom: 30px;
}

.modal-form__wrap {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}
.modal-form__input:focus {
  outline-color: var(--brand-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--brand-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-form__coment {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 16px;
  font-family: "roboto";
  font-size: 12px;
  cursor: pointer;
  display: block;
}
.modal-form__coment:focus {
  outline-color: var(--brand-color);
}

.check:checked + .check__text span {
  background-color: var(--brand-color);
  background-image: url(../images/Vector-icon.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.check:checked + .check__text {
  fill: #FFFFFF;
}

.check__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check__text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check--to-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.check__icon {
  fill: transparent;
}

.check__policy {
  color: var(--brand-color);
  padding-left: 5px;
  border-bottom: 1px solid var(--brand-color);
}

.modal-form__btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-background);
  background-color: var(--brand-color);
  cursor: pointer;
  border: none;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 94px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-backgrouund-odapt.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-backgrouund-odapt.jpg);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
}

.hero__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  width: 696px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-background);
}

.hero__btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-background);
  background-color: var(--brand-color);
  cursor: pointer;
  border: none;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}
.hero__btn:hover, .hero__btn:focus {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section__title--visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-color);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.works__item {
  position: relative;
}

.works__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-background);
  background-color: rgba(47, 48, 58, 0.8);
}

.section--background-color {
  background-color: #F5F4FA;
}

.section__title--location {
  padding-top: 94px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.position {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  display: block;
}

.position__team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--header-color);
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.position__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.position__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.position__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #AFB1B8;
  background-color: #FFFFFF;
  -webkit-transition: background-color var(--timing-function), fill var(--timing-function);
  transition: background-color var(--timing-function), fill var(--timing-function);
}
.position__icon-link:hover, .position__icon-link:focus {
  fill: #FFFFFF;
  background-color: var(--brand-color);
}

.section__section--location {
  padding-bottom: 94px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  fill: #AFB1B8;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}

.clients__svg {
  width: 106px;
  height: 60px;
}

.section--portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.portfolio-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--header-color);
}

.portfolio-heading--to-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.portfolio-filters {
  list-style: none;
  color: var(--header-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-filters__item {
  margin-right: 8px;
}

.portfolio-filters__button {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  text-indent: inherit;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  cursor: pointer;
  -webkit-transition: color var(--timing-function), background-color var(--timing-function), -webkit-box-shadow var(--timing-function);
  transition: color var(--timing-function), background-color var(--timing-function), -webkit-box-shadow var(--timing-function);
  transition: color var(--timing-function), background-color var(--timing-function), box-shadow var(--timing-function);
  transition: color var(--timing-function), background-color var(--timing-function), box-shadow var(--timing-function), -webkit-box-shadow var(--timing-function);
}
.portfolio-filters__button:hover, .portfolio-filters__button:focus {
  color: var(--text-background);
  background-color: var(--brand-color);
  border: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  text-decoration: none;
}

.project-grid__link {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--timing-function);
  transition: -webkit-box-shadow var(--timing-function);
  transition: box-shadow var(--timing-function);
  transition: box-shadow var(--timing-function), -webkit-box-shadow var(--timing-function);
  margin: 0;
}
.project-grid__link:hover, .project-grid__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-grid__link:hover .project-grid__text, .project-grid__link:focus .project-grid__text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.project-grid__box {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.project-grid__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  overflow: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.project-description {
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 24px 20px;
  margin: 0;
}

.project-description__heading {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--header-color);
  letter-spacing: 0.06em;
}

.project-description__text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.88;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */