
.header__container {
    display: flex;
    align-items: center;
        }
.navigation {
    display: flex;
}


.logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding: 24px 0 25px;
    color: var(--brand-color);
   
}
.header__logo {
       margin-right: 93px;
}

.logo__dark {
    color: var(--header-color);
  }

  .logo__light {
    color: var(--text-background);
  }

.site-nav {
    display: none;
    @media screen and (min-width: 480px) {
        
    }
    @media screen and (min-width: 768px) {
        display: flex;
    align-items: center;
    gap: 50px;
    }
    @media screen and (min-width: 1200px) {
        
    }
    
}

.site-nav__link {
    text-decoration: none;
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--header-color);
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;
        position: relative;
&:hover,
&:focus{
    color: var(--brand-color);
}
}



.current {
    color:var(--brand-color);

@media screen and (min-width: 768px) { 
   
    &::after {
        content:'';
        background-color: var(--brand-color);
        width: 100%;
        height: 4px;
        border-radius: 2px;
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
    }
    }
}



.contacts {
    display: none;
    @media screen and (min-width: 480px) {

    }
    @media screen and (min-width: 768px) and (max-width: 1200px)  {
        display: flex;
        margin-left: auto;
        gap: 10px;
        flex-direction: column;
        position: fixed;
        right: 10px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        position: fixed;
        right: 10px;
       
    }
}

.contacts__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--accent-color);
        display: flex;
        align-items: center;
        fill: currentColor;
        transition: color var(--timing-function);
        margin-right: 40px;
        &:hover,
        &:focus{
            color: var(--brand-color);

        }
  }



.contacts__icon {
    margin-right: 10px;
}



.header {
    border-bottom: 1px solid #E5E5E5;    
}


.js-open-menu {
    position: fixed;
    right: 8px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    &:focus,
    &:hover {
    fill: var(--brand-color);
    }
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
        display: none;
        }
    @media screen and (min-width: 1200px) {
    }
    




.js-close-menu {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #FFFFFF;
    &:focus,
    &:hover {
      fill: var(--brand-color);
    }
      }

.mobile-menu {
    background-color:#FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}

.mobile-menu_navigation {
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 47px;
letter-spacing: 0.02em;
justify-content: flex-start;
gap: 32px;
margin-bottom: auto;
}
.mobile-menu_navigation :focus {
    color: var(--brand-color);
    }

.mobile-menu_navigation-item {
color:   #212121;

}
.site-nav__link-menu {
    &:focus,
    &:hover {
        color: var(--brand-color);
        } 
}


.mobile-menu_contacts {
    gap: 32px;
    margin-bottom: 40px;
}

.mobile-menu_social-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    .mobile-menu_social-list-item:not(:last-child) {
        padding-right: 10px;
    border-right:  1px solid rgba(33, 33, 33, 0.2);
margin: 0;
}
.network__link-menu {
    font-size: 10px;
}
}